@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&family=Lato&display=swap');


/* Font Family */
h1,h2,h3,h4,h5,h6{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

li,p,span,a{
    font-family: 'Lato', sans-serif;
}

p{
    line-height: 1.4rem;
}

li{
    line-height: 1.6rem;
}

/* Custom Color */
.text-purple{
    color: #5C1484
}

.bg-purple{
    background-color: #5C1484
}

.text-lightblue{
    color: #037ABC;
}

.bg-lightgreen{
    transition: all 0.5s ease-in;
    background-color: #54af05;
}

.bg-lightgreen:hover{
    background-color: #54af60;
}



/* sticky navbar */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #c5e0cd!important;
    font-weight: 600;
}
  
.sticky .nav-item .nav-link{
    color: #444!important;
}

.sticky + .content {
    padding-top: 60px;
}

.navbar{
    border-bottom: 2px solid #54af05;
}

.navbar .nav-item .nav-link,
.navbar .dropdown .dropdown-menu .dropdown-item{
    font-weight: 600!important;
    /* color: #000; */
    font-size: 0.9rem;
    background: -webkit-linear-gradient(#5C1484,#262727);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* 
.navbar .nav-item .nav-link {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

.navbar .nav-item{
    padding-right: 10px!important;
}

.navbar .nav-item:hover{
    /* background-color: #4d080f!important; */
    transition: all 0.2s ease-in;
}

.home-header-carousel img{
    height: 210px;
    max-width: 100%;
}

.navbar .navbar-nav .active{
    border-bottom: 3px solid #54af05!important;
    color: #54af05!important;
}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #222;
}


.home-nav-list ul li{
    max-width: 25%;
}

.home-nav-list ul li a{
    font-size: 0.8rem;
}

.home-main-leftbar ul{
    padding-left: 0;
    list-style: none;
}

.home-main-leftbar ul li{
    border-bottom: 1px solid #54af05;
    font-size: 0.8rem;
}

.home-main-leftbar p{
    font-size: 0.8rem;
    text-align: justify;
}

.home-main-leftbar a{
    font-size: 0.9rem;
    font-weight: 700;
    transition: all 0.2s ease-in;
}

.home-main-leftbar a:hover{
    color: #54af05;
    padding-left: 5px;
}

.home-main-leftbar ul li:first-child{
    background-color: #54af05;
    color: #fff;
    font-weight: bold;
    font-size: 1rem; 
}

.home-main-leftbar ul li a{
    text-decoration: none;
    color: #222;
    transition: all 0.5s ease-in;
}

.home-main-leftbar ul li a:hover{
    padding-left: 5px;
}

.home-main-carousel-one .carousel-indicators button{
    background-color: #333;
}

.home-main-carousel-one p{
    font-weight: 600;
    font-size: 18px;
}

.home-main-carousel-one .carousel-inner .active{
    min-height: 400px;
}

.home-main-carousel-two .item-header{
    background-color: #907ABB;
}

.home-main-carousel-two .item-content{
    background-color: #907ABB;
}

.home-main-carousel-two .item-content img,
.home-main-carousel-two .item-content p{
    min-height: 210px;
    width: 100%;
    border: 3px solid #fff;
    border-radius: 10px;
}

.home-main-carousel-two .item-content p{
    padding: 10px;
    min-height: 200px;
    background-color: #01A0C7;
}

.home-main-carousel-two .item-content p{
    min-height: 210px;
    width: 100%;
    border: 3px solid #fff;
    border-radius: 10px;
}

.home-blog-section{
    background-color: purple;
    color: #fff;
}

.home-blog-section .content-box{
    min-height: 210px;
    width: 100%;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 5px;
    background-color: #336799;
}

.home-blog-section .content-box h6{
    background-color: #037ABC;
}

.home-blog-section .content-box .col-5 p{
    font-size: 0.8rem;
}

.home-video-section{
    background-color: #336799;
}

.home-video-section .video-box h5{
    background-color: #037ABC;
}


footer{
    /* background-color: #5C1484; */
    background-color: #262727;
    color: #fff;
}

footer h5{
    width: 85%;
    padding-bottom: 5px;
    border-bottom: 3px solid #54af05;

}

footer .container ul li{
    margin-bottom: 10px;
}

footer .container ul li a{
    color: #fff;
    transition: all 0.5s ease-in;
}

footer .container ul li a:hover{
    color: #54af05;
    padding-left: 5px;
    font-weight: 600;
}

footer hr:not([size]){
    height: 3px;
    width: 85%;
    margin: auto;
    margin-bottom: 15px;
}


/* Career Page */
.career-positions ul li a{
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.career-positions ul li a:hover{
    color: #54af05;
}

.career-position .career-heading{
    background-color: #5C1484;
    color: #fff;
}

.career-details h1,
.career-details h2,
.career-details h3,
.career-details h4,
.career-details h5,
.career-details h6{
    font-weight: 700;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #037ABC;
}

.career-details p,
.career-details ul li{
    font-weight: 400;
    font-size: 0.9rem;
    color: #333;
}

.career-details ul{
    list-style-type: circle;
    padding-left: 15px;
}


/* Branches & Donors Page */
.branches h3{
    color: #5C1484;
    font-weight: 700;
}

.branches table,
.branches table thead tr th,
.branches table tbody tr td{
    border: 2px solid #037ABC!important;
}

/* Gallery Page */
.gallery img{
    border: 2px solid #5C1484;
    transition: all 0.5s ease-in;
    filter: grayscale(100%)
}

.gallery img:hover{
    transform: scale(1.1);
    filter: grayscale(0%)
}


/* Contact Page */
.contact h3{
    font-weight: 700;
}

.contact-with-us .contact-type span{
    color: #54af05;
    font-size: 2.5rem;
}

.contact-with-us .contact-type h2{
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333;
    transition: all 0.5s ease-in;
}

.contact-with-us .contact-type a{
    color: #333;
    transition: all 0.5s ease-in;
    font-weight: 600;
}

.contact-with-us .contact-type:hover h2{
    color: #54af05;
}

.contact-with-us .contact-type a:hover{
    color: #037ABC;
}

/* Blog page */
.blog h3{
    background-color: #5C1484;
    color: #fff;
    font-size: 1.5rem;
}

/* speech page */
.speech p{
    text-align: justify;
}

@media only screen and (max-width: 991px) {
    
.home-nav-list ul li{
        max-width: 100%;
    }
}

p{
    font-size: 18px!important;
}